<h4>Xin chhào <%= @user.email %>,</h4>
<hr>
<p>
  Hiện bạn đang có 1 deadline sắp hết hạn. Bạn hãy nhanh chóng hoàn thành!
</p>

<p><%= @event.referer %></p>
<p><%= @event.course %></p>
<p><%= @event.description %></p>
<p><%= @event.date.strftime("%H:%M %d-%m-%Y") %></p>
