<h4>Xin chào <%= @user.username %>,</h4>
<p>
  Hiện bạn đang có 1 deadline sắp hết hạn. Bạn hãy nhanh chóng hoàn thành!
</p>
<hr>

<h3><%= @event.referer %> - <%= @event.course %></h3>
<p><%= @event.description %></p>
<p>
  Hạn chót:
  <strong style="color: red">
    <%= @event.date.strftime("%H:%M, %d-%m-%Y") %>
  </strong>
  (chỉ còn <%= @time_left %>)
</p>
