<h4>Xin chào <%= @user.name %>,</h4>
<p>
  Hiện bạn đang có 1 deadline sắp hết hạn. Bạn hãy nhanh chóng hoàn thành!
</p>
<hr>

<h3><%= @event.referer %> - <%= @event.course %></h3>
<p><%= @event.description %></p>
<p>
  Hạn chót:
  <strong style="color: red">
    <%= @event.date.strftime("%H:%M, %d-%m-%Y") %>
  </strong>
  (chỉ còn <%= @time_left %>).
</p>

<br>
<hr>
<p><small><%= link_to "Ngừng đăng ký nhận thông báo deadline này?", unsubscribe_event_url(token: @user.token, event: @event.id), style: "color: red" %></small></p>
<p><small><%= link_to "Ngừng đăng ký nhận tất cả thông báo?", unsubscribe_url(token: @user.token), style: "color: gray" %></small></p>
