<div class="card z-depth-5">
  <div class="card-content primary white-text">
    <h5 class="center-align upcase">Đăng nhập</h5>
  </div>

  <div class="card-content">
    <%= form_for @user, url: subscribe_users_path, method: :post, remote: true,
  html: { autocomplete: "off", class: "right-align" } do |f| %>
  <div class="input-field">
    <%= f.text_field :username, value: params[:username] %>
    <%= f.label :username, "Tài khoản" %>
  </div>
  <div class="input-field">
    <%= f.password_field :password %>
    <%= f.label :password, "Mật khẩu" %>
  </div>
  
  <div id="method" class="input-field" >
  <h6 class="left-align primary-text"><strong>Hình thức nhận thông báo</strong></h6>
  <p class="left">
    <%= f.radio_button :messenger, true, checked: true, class: "with-gap" %>
    <%= f.label :messenger_true, "Facebook Messenger" %>
  </p>
  <p class="right-align">
    <%= f.radio_button :messenger, false, checked: false, class: "with-gap" %>
    <%= f.label :messenger_false, "Student Email" %>
  </p>
  </div>
  
  <div class="input-field">
    <%= button_tag type: :submit, class: "btn primary",
      id: "subscribe-submit" do %>
      Gửi <i class="material-icons right">send</i>
    <% end %>
  </div>
<% end %>
  </div>
</div>

<div id="subscribe-progress" class="modal">
  <div class="modal-content">
    <h4 class="primary-text">Đang xác thực ...</h4>
    <p>Hệ thống đang xác thực tài khoản của bạn.</p>
    <p>Xin vui lòng đợi trong giây lát.</p>

    <br/>
    <div class="progress">
      <div class="indeterminate primary"></div>
    </div>
  </div>
  <div class="modal-footer">
    <a href="" class="modal-action modal-close waves-effect waves-light btn-flat persistent">Đóng</a>
  </div>
</div>

<div id="subscribe-failure" class="modal">
  <div class="modal-content">
    <h4 class="red-text">Đã xảy ra lỗi :&#40;</h4>
    <p>Hệ thống không thể xác thực tài khoản của bạn. <span class="username"></span></p>
    <p>Xin vui lòng kiểm tra lại tài khoản và mật khẩu của bạn!</p>
  </div>
  <div class="modal-footer">
    <a href="" class="modal-action modal-close waves-effect waves-light btn-flat persistent">Đóng</a>
  </div>
</div>

<div id="subscribe-existing-failure" class="modal">
  <div class="modal-content">
    <h4 class="blue-text">Tài khoản đã được đăng ký  (·_·)</h4>
    <p>Hệ thống phát hiện rằng tài khoản của bạn đã được đăng ký rồi.</p>
    <p>Bạn không cần phải đăng ký nữa :&#41;.</p>
  </div>
  <div class="modal-footer">
    <a href="" class="modal-action modal-close waves-effect waves-light btn-flat persistent">Đóng</a>
  </div>
</div>

<div id="subscribe-success" class="modal">
  <div class="modal-content">
    <h4 class="primary-text">Đăng ký thành công</h4>
    <p>
      Xin chúc mừng! Bạn đã đăng ký nhận thông báo từ 
      <a href="https://courses.uit.edu.vn">moodle</a> thành công.
    </p>
    <h5 class="red-text">
      <strong>Vui lòng kiểm tra email và làm theo hướng dẫn để hoàn thành việc đăng ký.</strong>
    </h5>
    <br>
    <p>
      <small>Hệ thống sẽ về trang chủ sau <b><span id="time-left">30</span> giây</b> ...</small>
    </p>
  </div>
  <div class="modal-footer">
    <a href="" class=" modal-action modal-close waves-effect waves-light btn-flat persistent">Đóng</a>
  </div>
</div>
