<!DOCTYPE html>
<html>
  <head>
    <title>UIT Moodle Reminder - Hệ thống thông báo DEADLINE từ Moodle dành cho sinh viên UIT - FoxFizz - UMR</title>
    
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1340690532621760" />
    <meta property="og:title" content="UIT Moodle Reminder - FoxFizz - UMR" />
    <meta property="og:description" content="Hệ thống thông báo DEADLINE từ Moodle dành cho sinh viên UIT" />
    <meta property="og:image" content="http://i.imgur.com/oyMM7yI.png" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="primary lighten-1 z-depth-0">
        <div class="nav-wrapper container">
          <a class="brand-logo" href="/">
            <i class="material-icons large">alarm</i>
            <span class="hide-on-small-only">UIT Moodle Reminder</span>
          </a>

          <ul class="right hide-on-small-only">
            <li>
              <a class="tooltipped" data-tooltip="Báo lỗi" data-delay="100" target="_blank" href="https://github.com/fongfan999/uit_moodle_reminder/issues">
                <i class="material-icons">info_outline</i>
              </a>              
            </li>
            <li>
              <a onclick="window.open(this.href, true, 'height=500,width=500')"
                class="persistent tooltipped" data-tooltip="Chia sẻ"
                data-delay="100"
                href="https://fb.com/sharer.php?u=http://umr.foxfizz.com/" >
                <i class="material-icons">share</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>  
    </div>

    <main id="main">
      <%= yield %>
    </main>

    <footer class="page-footer primary lighten-1">
      <div class="footer-copyright">
        <div class="container">
          <a href="http://foxfizz.com/" class="white-text">© 2017 FoxFizz, Inc</a>
          <a class="grey-text text-lighten-4 right" target="blank" href="https://github.com/fongfan999/uit_moodle_reminder">GitHub</a>
          <a class="grey-text text-lighten-4 right" target="blank" href="https://www.iubenda.com/privacy-policy/8021298">Privacy Policy</a>
        </div>
      </div>
    </footer>
    
    <div id="fb-root"></div>
    <div class="fixed-action-btn">
      <a class="btn-floating btn-large blue darken-3 tooltipped" 
        href="#feedback" data-tooltip="Nhận xét, góp ý" data-delay="100" 
        data-position="left">
        <i class="large material-icons">comment</i>
      </a>
    </div>

    <!-- Modal Structure -->
    <div id="feedback" class="modal">
      <div class="modal-content">
        <div class="card">
          <h5 class="primary white-text card-panel">
            Nhận xét, góp ý
            <div class="right">
              <a class="github-button" 
              href="https://github.com/fongfan999/uit_moodle_reminder" 
              data-style="mega" 
              data-count-href="/fongfan999/uit_moodle_reminder/stargazers" 
              data-count-api="/repos/fongfan999/uit_moodle_reminder#stargazers_count" 
              data-count-aria-label="# stargazers on GitHub" 
              aria-label="Star fongfan999/uit_moodle_reminder on GitHub">Star</a>
            </div>

            <script async defer src="https://buttons.github.io/buttons.js"></script>
          </h5>
          <%= render "shared/facebook_comments", full_url: root_url %>
        </div>
      </div>
      <div class="modal-footer">
        <a href="#" class="modal-action modal-close waves-effect waves-light btn-flat persistent">Đóng</a>
      </div>
    </div>
  </body>
</html>
