<!DOCTYPE html>
<html>
  <head>
    <title>UIT Moodle Reminder - Hệ thống thông báo DEADLINE từ Moodle dành cho sinh viên UIT - FoxFizz - UMR</title>
    
    <%= favicon_link_tag %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="fb:app_id" content="1340690532621760" />
    <meta property="og:title" content="UIT Moodle Reminder - FoxFizz - UMR" />
    <meta property="og:description" content="Hệ thống thông báo DEADLINE từ Moodle dành cho sinh viên UIT" />
    <meta property="og:image" content="http://i.imgur.com/oyMM7yI.png" />

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav class="primary lighten-1 z-depth-0">
        <div class="nav-wrapper container">
          <a class="brand-logo" href="/">
            <i class="material-icons large">alarm</i>
            <span class="hide-on-small-only">UIT Moodle Reminder</span>
          </a>

          <ul class="right hide-on-small-only">
            <li>
              <a class="tooltipped" data-tooltip="Báo lỗi" data-delay="100" target="_blank" href="https://github.com/fongfan999/uit_moodle_reminder/issues">
                <i class="material-icons">info_outline</i>
              </a>              
            </li>
            <li>
              <a onclick="window.open(this.href, true, 'height=500,width=500')"
                class="persistent tooltipped" data-tooltip="Chia sẻ"
                data-delay="100"
                href="https://fb.com/sharer.php?u=http://umr.foxfizz.com/" >
                <i class="material-icons">share</i>
              </a>
            </li>
          </ul>
        </div>
      </nav>  
    </div>

    <main id="main">
      <%= yield %>
    </main>

    <footer class="page-footer primary lighten-1">
      <div class="footer-copyright">
        <div class="container">
          <a href="http://foxfizz.com/" class="white-text">© 2017 FoxFizz, Inc</a>
          <a class="grey-text text-lighten-4 right" target="blank" href="https://github.com/fongfan999/uit_moodle_reminder">GitHub</a>
          <a class="grey-text text-lighten-4 right" target="blank" href="https://www.iubenda.com/privacy-policy/8021298">Privacy Policy</a>
        </div>
      </div>
    </footer>
    
    <div id="fb-root"></div>
  </body>
</html>
