<!DOCTYPE html>
<html>
  <head>
    <title>UitMoodleReminder</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |key, msg| %>
      <h4 style="color: red"><%= msg %></h4>
    <% end %>
    <%= yield %>
  </body>
</html>
